<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>LINESeedSans_A_Bd.otf</string>
		<string>LINESeedJP_A_OTF_Bd.otf</string>
		<string>LINESeedKR-Bd.otf</string>
		<string>LINESeedKR-Rg.otf</string>
	</array>
</dict>
</plist>
